@media screen and (width: 768px) and (height: 1280px), (width: 1280px) and (height: 768px){
    .bb-screen {
		font-size: 30pt;
    }
}

@media screen and (width: 720px) and (height: 1280px), (width: 1280px) and (height: 720px){
    .bb-screen {
		font-size: 30pt;
    }
}

@media screen and (width: 720px) and (height: 720px){
    .bb-screen {
		font-size: 28pt;
    }
}

@media screen and (width: 1024px) and (height: 600px), (width: 600px) and (height: 1024px){
    .bb-screen {
		font-size: 16pt;
    }
}

